name: Snapshots Validation Check

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  snapshot-validation-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Run Snapshots validation check
        run: bun run snapshot:validate
